html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-size: 13px;
  font-family: "microsoft yahei";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(45deg, #fff1eb 0%, #ace0f9 100%);
}
.container {
  padding-top: 2rem;
  min-width: 30rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
}
.avatar-box {
  width: 100%;
}
.avatar-box .avatar {
  text-align: center;
}
.avatar-box .avatar img {
  border-radius: 1rem;
  width: 20rem;
}
.info {
  padding-bottom: 2.5rem;
  text-align: center;
}
.info .name {
  font-size: 1.5rem;
  line-height: 2;
}
.info .location {
  color: #a5a4a4;
  font-size: 1rem;
  line-height: 1.5;
}
.info .location img {
  width: 1rem;
}
.greeting {
  text-align: left;
  font-size: 1rem;
  padding: 0 7rem;
  line-height: 2;
}
.contact {
  padding: 2rem;
  padding-top: 0;
}
.contact .label {
  position: relative;
  font-size: 1rem;
  line-height: 5;
  text-align: center;
}
.contact .row {
  display: flex;
  justify-content: center;
}
.contact .row .a-col {
  display: block;
  text-decoration: none;
}
.contact .row .a-col:visited {
  color: #000;
}
.contact .row .col {
  padding: 0.5rem;
  text-align: center;
  width: 8rem;
  border-radius: 0.5rem;
}
.contact .row .col:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px #dedede;
}
.contact .row .col img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}
.contact .row .col .title {
  font-size: 1rem;
}
.contact .row .col .desp {
  color: #a5a4a4;
  line-height: 2;
  font-size: 0.8rem;
}
@media (max-width: 500px) {
  body {
    justify-content: baseline;
    align-items: baseline;
  }
  .container {
    box-sizing: border-box;
    height: 100%;
  }
}
@media (min-width: 1700px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1919px) {
  html {
    font-size: 16px;
  }
}
